# env files
.env
.env.local
.env.production
*/.env

# python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
pytest-cache-files-*/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# venv
venv/
.venv/

# logs
*.log

# OS
.DS_Store
Thumbs.db

# vscode
.vscode/
.idea/

# build
dist/
build/
*.egg-info/

permission-format.txt
